html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }
}


@media (min-width: 768px) {
  .sidebar {
    width: 250px;
    height: 100vh;
    margin-left: 0;
  }
  .sidebar-collapsed .sidebar {
    margin-left: -250px;
  }
}

.main {
  flex: 1;
}
.main h1 {
  font-size: 1.5rem;
}
